.resume {
    text-align: center;
}

.text {
    font-size: 0.9rem;
    color: #444;
}

.text>span {
    color: #777;
}

.flex {
    white-space: nowrap;
    display: inline-flex;
}

.title {
    width: 100%;
    display: block;
    font-size: 2rem;
    padding-top: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    padding: 1rem 0 0;
    display: block;
}

ul {
    max-width: 70rem;
    margin: 0 auto 1rem;
}